<!DOCTYPE html>
<html>
<head>
    <title>Trending Movies</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="outer-container">
        <div class="container">
            <img src="{{ url_for('static', filename='images/cinema.jpg') }}" alt="Cinema Image">
            <h1>10 MOST POPULAR MOVIES RIGHT NOW: WHAT TO WATCH IN THEATERS AND STREAMING</h1>
            <p>See your favourite movies, re-written by our AI model!</p>
            <ul class="movie-list">
                {% for index in range(trending_movies|length) %}
                    {% set movie = trending_movies[index] %}
                    <li>
                        <div class="movie-info">
                            <div class="title">{{ movie['title'] }}</div>
                        </div>
                        <div class="rank-container">
                            <div class="rank">#{{ index + 1 }}</div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <h2>Click here to generate a new alternative plot</h2>
            <form method="post" action="/generate_plot">
                <input type="text" id="movieTitleInput" name="movie_title" placeholder="Type to search..." autocomplete="off">
                <div id="autocompleteList" class="autocomplete-items"></div>
                <button type="submit">Generate Plot</button>
            </form>
        </div>
    </div>
        <script src="{{ url_for('static', filename='autocomplete.js') }}"></script>
        <script>
            let scrollAmount = 0;
            const carousel = document.querySelector('.carousel');
            setInterval(() => {
                if(scrollAmount < carousel.scrollWidth - carousel.clientWidth) {
                    scrollAmount += 200; // Scroll by 200px every 2 seconds
                } else {
                    scrollAmount = 0; // Reset scroll amount to start
                }
                carousel.scrollTo({left: scrollAmount, behavior: 'smooth'});
            }, 2000);
        </script>
        <script src="{{ url_for('static', filename='carousel.js') }}"></script>
</body>
</html>